@model OrderFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>
                            <img src="@Model.ImgUrl" alt="Pizza" width="300" height="300"/>
                        </th>
                        <th>
                            @Model.PizzaName
                        </th>
                        <th>
                            @Model.Description
                        </th>
                        <th>
                            @Model.PizzaPrice$
                        </th>
                         
                    </tr>

                </tbody>

            </table>

            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<PizzaType>()" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity"  class="form-control" value="1"  />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input  type="hidden" asp-for="@Model.PizzaId" class="form-control" />
                <span asp-validation-for="PizzaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="@Model.PizzaPrice" class="form-control" />
                <span asp-validation-for="PizzaPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="@Model.PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="@Model.ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAdress"></label>
                <input asp-for="DeliveryAdress" class="form-control" />
                <span asp-validation-for="DeliveryAdress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Order Pizza</button>
        </form>
    </div>
</div>
<footer>
    <br/>
</footer>
